<?xml version="1.0"?>
<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find wild_thumper_ros)/urdf/wild_thumper.urdf.xacro"/>

  <node name="spawn_robot_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model wild_thumper"/>

  <rosparam file="$(find wild_thumper_ros)/config/wild_thumper_diff_drive_controller.yaml" command="load" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/" args="diff_drive_controller joint_state_controller"/>

  <remap from="/diff_drive_controller/cmd_vel" to="cmd_vel" />
  <remap from="/diff_drive_controller/odom" to="odom" />


  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="worlds/room.world"/> <!-- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/> <!-- Inert - see gazebo_ros_pkgs issue #491 -->
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>

</launch>
